<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Ola : <%= Nome  %></p>
        <ul>
            <li><a href="/post">Upload de Foto</a></li>
            <li><a href="/Logado">Informaçoes de login</a></li>
            <li><a href="/List">Mostrar Minhas fotos</a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
</body>
</html>